@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Edu+TAS+Beginner:wght@700&family=Fascinate+Inline&family=Gentium+Plus:wght@700&family=Inconsolata&family=Poppins:ital,wght@0,300;1,300&family=Yeon+Sung&display=swap');
.Promo-vdo{
    position: relative;
}
.Promo-vdo video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.79;
}
.Videotext .downArrow{
    transform: rotate(0.5turn);
    font-size: 1.8em;
    background: none;
    border: none;
    color: white;
    margin: auto;
}
.Videotext{
    position: absolute;
    top: 35%;
    z-index: 120;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 2.3em;
    font-family: 'Bebas Neue', cursive;
    font-weight: 600 !important;
    letter-spacing: 5px;
    text-shadow: 3px 6px 3px rgb(106, 106, 106);
}

@media(max-width: 915px){
    .Videotext{
        /* height: 13rem; */
    font-size: 2em;

    }
}
@media(max-width: 600px){
    .Videotext{
        /* height: 13rem; */
    font-size: 1.6em;
    }
}
@media(max-width: 400px){
    .Videotext{
        /* height: 13rem; */
    font-size: 1.3em;
    }
}

/* Menu Highlight part */
#MenuHighlight{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuHighheding{
    text-align: center;
    font-size: 2.8em;
    font-family: 'Bebas Neue', cursive;
    margin-top: 1.2em;
    color: #54301a;
    letter-spacing: 3px;

}
#MenuHighlight .Highlight_container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex: 1 1 33%;
}
#MenuHighlight .Highlight_container .HighlightCard{
    width: 38rem;
    background-size:cover;
    background-repeat: no-repeat;   
    /* min-height: 20rem; */
    height: 23rem;
    /* min-width: 20rem; */
    margin: 1.2rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border-radius: 9px;
    box-shadow: 0 5px 10px rgb(203, 202, 202);
}
#MenuHighlight .Highlight_container .HighlightCard .info{
    margin: 0 0 2em 2em;
    padding: 1.2em;
    background-color: rgba(79, 79, 79, 0.553);
    border-radius: 9px;
}
#MenuHighlight .Highlight_container .HighlightCard .info h4{
    color: white;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.9em;
    letter-spacing: 5px;
    text-shadow: 2px 2px 4px black;
}
#MenuHighlight .Highlight_container .HighlightCard .info button{
    background-color: rgba(0, 0, 0, 0.279);
    border: solid white 2px;
    font-family: sans-serif;
    border-radius: 5px;
    color: white;
    font-size: larger;
    padding: 0.2em 1.5em;
}

/* Services part */
#Services h2{
    text-align: center;
    font-size: 2.8em;
    font-family: 'Bebas Neue', cursive;
    margin-top: 1.2em;
    color: #54301a;
    letter-spacing: 3px;
}
.underLine{
    height: 0.5em;
    width: 6em;
    margin: auto;
    background-color: black;
    border-radius: 20%;
}
.Service_container{
    width: 100%;
    padding: 10px 18px ;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.Service_container > *{
    flex: 1 1 33%;
}
.Service_card{
    width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 1.2em;
    border-radius: 40px;
    box-shadow: 2px 2px  3px 2px grey;
    min-width: 23rem;
    transition: all 0.3s ease;
}

.Service_card:hover{
    transform: translate(-0.1%,-0.1%);
    box-shadow: -2px -2px  3px 2px grey;
}

.Service_card .Ser_img{
    width: 100%;
    height: 19rem;
    overflow: hidden;
}
.Service_card .Ser_img img:hover{
    /* transform: scale(1.01); */
    overflow: hidden;
}
.Service_card .Ser_img img{
    object-fit:fill;
    width: 100%;
    height: 100%;
    border-radius: 40px 40px 0 0;

    transition: all 0.2s ease-in;
    overflow: hidden;
}
.Service_card .Service_info{
    padding-bottom: 10px;
    padding: 0 6px 6px 0;
    text-align: center;
}
.Service_card .Service_info h3{
    color: #4E3629 !important;
    text-transform: uppercase;
    text-shadow: 1px 2.4px 2.6px gray;
    margin-bottom: 0.5em;
    font-size: 1.6em;
}
.Service_card .Service_info p{
    font-size: 1.1em;
    padding-bottom:1em ;
}